@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
input {
  text-align: center;
  padding: 5px;
}

body {
  background-color: rgb(226, 221, 221);
}

#container {
  display: flex;
  flex-direction: row;
  width: 770px;
  height: 1180px;
  margin: 0 auto;
  background-color: white;
}

#container-sideblue {
  width: 50px;
  background-color: rgb(22, 106, 184);
}

#container-content {
  display: flex;
  flex-direction: column;
}

#container-content-head {
  margin: 0 auto;
  width: 173px;
}

#uplavt {
  position: relative;
  left: 57px;
  bottom: 24px;
  border: none;
  background-color: white;
}

#container-content-body {
  display: flex;
  flex-direction: row;
}

#container-content-body-left {
  width: 335px;
  padding-left: 40px;
}

#container-content-body-right {
  width: 345px;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  color: rgb(22, 106, 184);
  border: 2px solid lightgray;
  border-left: none;
  border-right: none;
  width: 290px;
  padding: 7px;
}

.contentcareergoal {
  font-family: "Barlow", sans-serif;
  text-align: justify;
  width: 290px;
  height: 180px;
  padding: 10px;
  word-spacing: 3px;
  line-height: 20px;
  font-size: 12px;
}

.content1 {
  font-family: "Barlow", sans-serif;
  width: 290px;
  height: 235px;
  padding: 10px;
  word-spacing: 3px;
}

.content2 {
  height: 370px;
  word-spacing: 3px;
}

.content3 {
  height: 100px;
  word-spacing: 3px;
}

.content-head1 {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.content-head2 {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.ul-2-3 {
  margin: 5px 0 5px 30px;
}
.ul-4 {
  margin: 5px 0 5px 0;
  margin-left: 18px !important;
}

.content-list {
  position: relative;
  font-size: 12px;
  left: -12px;
}

.contentlist {
  font-family: "Barlow", sans-serif;
  text-align: justify;
  width: 255px;
  font-size: 12px;
  word-spacing: 3px;
  line-height: 20px;
}

.contentlistcompetencies {
  font-family: "Barlow", sans-serif;
  text-align: justify;
  width: 255px;
  font-size: 12px;
  word-spacing: 3px;
  line-height: 20px;
  position: relative;
  left: -12px;
}

#img {
  padding: 20px;
  width: 134.207px;
  height: 139.515px;
  border: none;
}

label {
  cursor: pointer;
  color: white;
}

#container-content-head-name {
  overflow: visible;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: rgb(22, 106, 184);
  position: relative;
  bottom: 30px;
  text-transform: uppercase;
  font-size: 30px;
  width: 200px;
  border: none;
}

#container-content-head-position {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: rgb(68, 68, 64);
  line-height: 1.2;
  letter-spacing: 0.3em;
  position: relative;
  left: 33px;
  bottom: 30px;
  text-transform: uppercase;
  border: none;
  font-size: 17px;
}

.line {
  width: 300px;
  height: 5px;
}

.container-content-body-left-reachmeat {
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  height: 136px;
}

.container-content-body-left-reachmeat-each {
  display: flex;
  flex-direction: row;
}

.fas,
.fab {
  color: rgb(22, 106, 184);
}
.list-reachmeat {
  font-family: "Barlow", sans-serif;
  text-align: justify;
  width: 255px;
  font-size: 12px;
  word-spacing: 3px;
  line-height: 24px;
}
